
table{
    width: 100%;
}
th{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
  td{
      text-align: center;
  }
.removebutton{
    background-color: red;
}
.addrowbutton{
    background-color: rgb(190, 240, 190);
    margin: 10px 10px;
    width: 100px;
    height: 30px;
}
Typeahead {
    width: 1000px;
    align-items: center;
    
}
.submitapprovalButton{
   margin-left: 41%;
   margin-top: 5%;
}
.createUserButton, .deleteUserButton,.addClientButton,.deleteClientButton{
    background-color: rgb(75, 186, 238);
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right;
}
.logoutButton{
    background-color: rgb(248, 120, 120);
    float: right;
}
.viewUserModal{
    width: 1000px;
}
.modalButton{
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
